@import url(http://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap);

:root {
     --ft-roboto:"Roboto";
     --ft-text: "righteous";
     --ft-noto: "Noto Sans KR", sans-serif;
     --pf-color: #006168;
     --pf-light: #5ABAB9;
     --web-color: #004e97;
     --rp-color: #F2AA00;
     --dp-color: #1F76C7; }

/*  Reset CSS  */
* {
     margin: 0;
     padding: 0;
}

ol,
ul,
li {
     list-style: none;
}

a {
     outline: 0;
     text-decoration: none;
     color: #282828;
     display: block;
     width: 50%;
}

img {
     border: 0;
     vertical-align: top;
}

html {
     font-size: 14px;
}

body {
     color: #333;
}

.hidden {
     display: block;
     position: absolute;
     left: -1000%;
     top: 0;
     width: 1px;
     height: 1px;
     overflow: hidden;
     color: #fff;
}

   


/*로고*/
h1 {
     position: fixed;
     top: 50px;
     left: 50px;
     z-index: 10;
}

h1 img {
     width: 200px;
     height: auto;
}

/*sns*/
#sns {
     position: fixed;
     top: 40px;
     right: 50px;
     z-index: 14;
     overflow: hidden;
}

#sns li {
     float: left;
     margin-left: 20px;
}

#sns li i {
     font-size: 25px;
     color: #111;
     opacity: 0.5;
     transition: all 0.5s;
}

#sns li i:hover {
     transform: scale(1.5);
     opacity: 1;
}

/*메뉴*/
#menu {
     position: fixed;
     top: 50%;
     left: 0px;
     margin-top: -100px;
     z-index: 13;
}

#menu a {
     display: block;
     width: 200px;
     height: 60px;
     font-family: righteous;
     font-size: 14px;
     color: #000;
     text-align: right;
     overflow: hidden;
     box-sizing: border-box;
     border-top: 1px solid #111;
     opacity: 0.8;
     transition: all 0.5s;
}

#menu li:hover a {
     font-size: 24px;
     opacity: 1;
}

#menu li.on a {
     font-size: 24px;
     opacity: 1;
}

#menu li:nth-child(1):hover a {
     color: #d4164c;
     border-color: #d4164c;
}

#menu li:nth-child(2):hover a {
     color: #fff;
     border-color: #fff;
}

#menu li:nth-child(3):hover a {
     color: #ffec6a;
     border-color: #ffec6a;
}

#menu li:nth-child(4):hover a {
     color: #005a89;
     border-color: #005a89;
}

#menu li:nth-child(1).on a {
     color: #d4164c;
     border-color: #d4164c;
}

#menu li:nth-child(2).on a {
     color: blue;
     border-color: blue;
}

#menu li:nth-child(3).on a {
     color: #4d4c46;
     border-color: #4d4c46;
}

#menu li:nth-child(4).on a {
     color: #005a89;
     border-color: #005a89;
}

.tit_a, #web .web_right .bfore, .web_right .tit a, .mb_right .tit a, .rw_right .tit a, .dp_right .tit a {
     font-size: 1.5rem;
     font-family: var(--ft-serif);
     font-style: italic;
     text-align: center;
     border-radius: 50px;
     padding: 10px 50px;
     position: absolute;
     right: 0;
     top: 8px;
     transition: all .3sease-out;
     width: 15%;
 }


/*레이아웃*/
section {
     width: 100%;
     height: 100vh;
     position: relative;
     background-size: cover;
     background-position: right center;
     overflow: hidden;
     /* background-attachment:fixed; */
}

section:nth-child(1) {
     background-image: url(../img/home-backImg.jpg);
}

section:nth-child(2) {
     background-image: url(../img/bg2.jpg);
}

section:nth-child(3) {
     background-image: url(../img/bg3.jpg);
}

section:nth-child(4) {
     background-image: url(../img/bg4.jpg);
}

section:nth-child(5) {
     background: orange;
}

section:nth-child(6) {
     background: skyblue;
}


/* 첫 페이지 */
#home {
     position: relative
}

#home div {
     position: absolute;
     left: 35%;
     top: 50%;
     transform: translateY(-50%);

}

#home div h2 {
     font-size: 11rem;
     font-family: var(--ft-text);
}

#home div ul {
     font-size: 2rem;
     display: flex;

}

#home div p {
     font-weight: bold;
     font-size: 3rem;
     font-family: var(--ft-sanserif);
}

#home div span {
     font-size: 1.5rem;
     margin: 0 auto;
     border-bottom: 1px solid;
     font-family: var(--ft-roboto);
}

/* 두번째 페이지 */
.pf_cont {
     width: 60%;
     height: 60%;
     position: absolute;
     top: 10%;
     left: 20%;
     transform: translate(-50% -50%);
     border: 2px solid #006168;
     border-radius: 50px;
     background: eae8bd85;
     backdrop-filter: blur(10px);
     z-index: 5;
     padding: 80px 80px;
     display: block;
}

.pf_up {
     width: 100%;
     display: flex;
}

.pf_up img {
     width: 30%;
     border-radius: 20px;
}

.pf_up p {
     font-family: var(--ft-roboto);
     font-size: 4rem;
     font-weight: 500;
     color: #c9c2b5;
}

.pf_up .pf_right_text {
     margin-left: 10%;
}

.pf_up .pf_right_text .btn_link {
     width: 100%;
     margin-top: 50px;
}

.pf_up .pf_right_text .btn_link li {
     border: 1px solid #005a89;
     margin-top: 20px;
     text-align: center;
     border-radius: 20px;
     height: 50px;
     font-size: 1.5rem;
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
     transition: all .3s;
}


.pf_up .pf_right_text .btn_link li:hover{background: #5ABAB9;}

.pf_right_text .pf_info {
     display: flex;
}

.pf_right_text .pf_info li {
     margin: 30px 0;
}

.pf_right_text .pf_info li:nth-child(2) {
     margin-left: 100px;
}

.pf_right_text .pf_info li dl dt {
     border-bottom: 2px solid skyblue;
}

.pf_down .pf_skill {
     width: 100%;
     justify-content: space-between;
     margin-top: 10px;
}

.pf_down .pf_skill dt {
     border-bottom: 2px solid skyblue;
}
.pf_down .pf_skill dd{font-weight: 500; line-height: 2rem;}

.pf_down .pf_img {
     display: flex;
     margin: 20px auto 0;
     gap: 10px;
}
.pf_down .pf_img li img{
     width: 70%;
}

#pf .back_img li img{width: 100%; object-fit: cover; object-position: center;}


/* 세번째 페이지 */

#web{position: relative;}
#web>img{width: 100%;}
/* #web .web_cont{
     width: 60%;
     height: 60%;
     position: absolute;
     top: 10%;
     left: 20%;
     transform: translate(-50% -50%);
     border: 2px solid #006168;
     border-radius: 50px;
     background: eae8bd85;
     backdrop-filter: blur(10px);
     z-index: 5;
     padding: 80px 80px;
     display: block;
} */
.web_wrap{width: 70%;
     margin: 0 auto;
     position: absolute;
     left: 17%;
     top: 20%;
     transform: translate(-50% -50%);
}
.web_left {
     float: left;
    width: 50%;
    position: absolute;
    left: 5%;
    top: 10%;
}
.web_left span{display: inline-block;
     font-size: 1.2rem;
     font-weight: bold;
     font-family: var(--ft-noto);
     margin-top: 50px;
}
.web_left span::before{
     content: '01';
    display: block;
    width: 100%;
    height: 100%;
    font-family: var(--ft-serif);
    font-size: 9rem;
    font-weight: 700;
    color: #ffcca854;
    position: absolute;
    bottom: 20%;
    left: 50%;
}

.web_left .img_box {
     width: 75%;
     /* float: left; */
     /* margin-right: 3%; */
     position: relative;
     z-index: 30;
}

.web_left .img_box .pc {
     width: 100%;
}

.web_left .gif {
     width: 70%;
     position: absolute;
     top: 14.2%;
     left: 2%;
}

.web_right {
     width: 50%;
     float: right;
}
.web_right .tit{position: relative}
.web_right .tit strong{font-size: 3.5rem; font-weight: 600; font-family: var(--ft-noto);}
.web_right .tit ul{margin: 20px 0 0 20px; line-height: 2rem;}
.web_right .tit ul li{font-family: var(--ft-text); font-size: 1.2rem;}
.web_right .tit ul li::before{
     content: '\1F5F8';
     display: inline-block;
     margin: 0 8px 0 5px;}
.web_right .tit a{border: 1px solid; color: #333; transition: all .5s ease-out;}
.web_right .tit a:hover{background-color: green; font-weight: bold; color: #fff;}
.web_right .color_font{margin: 30px 0 0 20px; display: flex;}
.web_right .color_font dl.color{margin-right: 80px;}
.web_right .color_font dl.color dt,
.web_right .color_font dl.font dt {margin-bottom: 10px; font-weight: bold; font-size: 1.2rem;}
.web_right .color_font dl.color dd:nth-of-type(1){background: var(--web-color);}
.web_right .color_font dl.color dd:nth-of-type(2){background: #7FA1C3;}
.web_right .color_font dl.color dd:nth-of-type(3){background: #F5F5F5;}

.web_right .color_font dl.color dd{
     width: 25px;
    height: 25px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

.web_right .font dt{margin-bottom: 10px;}

.web_right .produce{display: flex; margin: 20px 0 0 20px;}
.web_right .produce dl{display: flex; align-items: center; margin-right: 80px;}
.web_right .produce dl dt{margin-right: 20px; font-size: 1.2rem; font-weight: bold;}
.web_right .produce dl dd{font-size: 1.1rem;}

.web_right .skill{display: flex; margin: 30px 0 0 20px;}
.web_right .skill dl dt{margin-bottom: 5px; font-size: 1.2rem; font-weight: bold;}
.web_right .skill dl dt dd{font-size: 1.1rem;}


/* 네번째: 기업형 모바일 버전이므로 추후 삽입 해야함 */


/* 다섯번째  */

.rp{position: relative;}
.rp_wrap{width: 70%; margin: 0 auto; 
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);}

.rp_left{float: left; width: 50%;
     position: absolute;
     left: 7%;
     top: 7%;
}
.rp_left span{     
     display: inline-block;
     font-size: 1.2rem;
     font-weight: bold;
     font-family: var(--ft-serif);
     margin-top: 50px;
}

.rp_left span::before{
     content: '03';
     display: block;
     width: 100%;
     height: 100%;
     font-family: var(--ft-sanserif);
     font-size: 9rem;
     font-weight: 700;
     color: #ffcca854;
     position: absolute;
     bottom: 20%;
     left: 50%;
}
.rp_left div{width: 70%; position: relative;}
.rp_left div img.rp{width: 100%;
     position: relative;
     z-index: 10
     ;
}
.rp_left div img.gif{
     width: 93%;
    position: absolute;
    top: 4%;
    left: 4%;
}
.rp_left div img.rp1{
     width: 40%;
     position: absolute;
     left: -18%;
     top: -255px;
     z-index: 20;
}
.rp_left div img.rp_pad{
     width: 35%;
    margin: 0 auto;
    left: -16%;
    position: absolute;
    z-index: 10;
    top: -235px;
}
.rp_left img.rp2{
     width: 16%;
     position: absolute;
     z-index: 30;
     left: 15%;
     top: 55%;
     transform: rotateX();
}

.rp_right{float: right; width: 50%;}
.rp_right .tit{position: relative;}
.rp_right .tit strong{
     font-size: 3.5rem; font-weight: 600; font-family: var(--ft-noto)
}
.rp_right .tit ul{
     color: #ddadad;
     font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin: 30px 0 0 20px;
}
.rp_right .tit ul li::before {
     content: '\1F5F8';
    display: inline-block;
    margin: 0 8px 0 5px;
}
.rp_right .tit a{
     width: 15%;
     font-size: 1.5rem;
    font-family: var(--ft-serif);
    font-style: italic;
    text-align: center;
    border-radius: 50px;
    padding: 10px 50px;
    position: absolute;
    right: 0;
    top: 8px;
    transition: all .3sease-out;
    border: 1px solid;
    transition: all .5s ease-out;
}
.rp_right .tit a:hover{background-color: green; font-weight: bold; color: #fff;}
.rp_right .color_font,
.rp_right .produce,
.rp_right .skill{margin: 30px 0 0 20px; display: flex;}
.rp_right .skill{justify-content: space-between;}

.rp_right .color_font dl.color{margin-right: 80px;}
.rp_right .color_font dl.color dt,
.rp_right .color_font dl.font dt {color: #333; margin-bottom: 10px;
     font-size: 1.2rem; font-weight: bold;}
.rp_right .color_font dl.font dd{color: #ddadad;}
.rp_right .color_font dl.color dd{
     width: 25px;
    height: 25px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}
.rp_right .color_font dl.color dd:nth-of-type(1){
     background: #1A1F7C;
}
.rp_right .color_font dl.color dd:nth-of-type(2){
     background: #000000E6;
}
.rp_right .color_font dl.color dd:nth-of-type(3){
     background: #fff6ff;
}

.rp_right .produce{display: flex; margin: 20px 0 0 20px;}
.rp_right .produce dl{display: flex; align-items: center; margin-right: 80px;}
.rp_right .produce dl dt {
     color: #333;
    margin-right: 20px;
    font-weight: bold;
    font-size: 1.2rem;
}
.rp_right .produce dl dd,
.rp_right .skill dl dt {color: #ddadad;}

.rp_right .skill dl{width: 80%;}
.rp_right .skill dl dt {
     color: #333;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.2rem;
}
.rp_right .skill dl dd{line-height: 2rem; font-size: 1.1rem; color: #ddadad;}
.rp_right .skill div{
     
}
.rp_right .skill div img{width: 70%;}

#rp>img{width: 100%;}


/* 여섯번째  */

#spa>img{width: 100%;}
.spa_wrap{width: 70%; margin: 0 auto; 
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);}

.spa_left{float: left; width: 50%;
     position: absolute;
     left: 7%;
     top: 7%;
}
.spa_left span{     
     display: inline-block;
     font-size: 1.2rem;
     font-weight: bold;
     font-family: var(--ft-serif);
     margin-top: 50px;
}

.spa_left span::before{
     content: '04';
     display: block;
     width: 100%;
     height: 100%;
     font-family: var(--ft-serif);
     font-size: 9rem;
     font-weight: 700;
     color: #ffcca854;
     position: absolute;
     bottom: 20%;
     left: 50%;
}
.spa_left div{width: 70%; position: relative;}
.spa_left div img.spa{
     width: 100%;
     position: relative;
     z-index: 10;
}
.spa_left div img.gif{
     width: 100%;
    position: absolute;
    top: 4%;
    left: 0%;
}

.spa_right{float: right; width: 50%;}
.spa_right .tit{position: relative;}
.spa_right .tit strong{
     font-size: 3.5rem;
    font-weight: 600;
}
.spa_right .tit ul{
     
     font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin: 30px 0 0 20px;
}
.spa_right .tit ul li::before {
     content: '\1F5F8';
    display: inline-block;
    margin: 0 8px 0 5px;
}
.spa_right .tit a{
     width: 15%;
     font-size: 1.5rem;
    font-family: var(--ft-serif);
    font-style: italic;
    text-align: center;
    border-radius: 50px;
    padding: 10px 50px;
    position: absolute;
    right: 0;
    top: 8px;
    transition: all .3sease-out;
    border: 1px solid;
    transition: all .5s ease-out;
}
.spa_right .tit a:hover{background-color: green; font-weight: bold; color: #fff;}
.spa_right .color_font,
.spa_right .produce,
.spa_right .skill{margin: 30px 0 0 20px; display: flex;}
.spa_right .skill{justify-content: space-between;}

.spa_right .color_font dl.color{margin-right: 80px;}
.spa_right .color_font dl.color dt,
.spa_right .color_font dl.font dt {margin-bottom: 10px;
     font-size: 1.2rem; font-weight: bold;}
.spa_right .color_font dl.color dd{
     width: 25px;
    height: 25px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}
.spa_right .color_font dl.color dd:nth-of-type(1){
     background: #1A1F7C;
}
.spa_right .color_font dl.color dd:nth-of-type(2){
     background: #000000E6;
}
.spa_right .color_font dl.color dd:nth-of-type(3){
     background: #fff6ff;
}

.spa_right .produce{display: flex; margin: 20px 0 0 20px;}
.spa_right .produce dl{display: flex; align-items: center; margin-right: 80px;}
.spa_right .produce dl dt {
    margin-right: 20px;
    font-weight: bold;
    font-size: 1.2rem;
}
/* .spa_right .produce dl dd,
.spa_right .skill dl dt {color: #fff;} */

.spa_right .skill dl{width: 80%;}
.spa_right .skill dl dt {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.2rem;
}
.spa_right .skill dl dd{line-height: 2rem; font-size: 1.1rem;}
.spa_right .skill div{
     
}
.spa_right .skill div img{width: 40%; margin: 10% 0 0 40%; border: 1px solid #000; }