/* Reset CSS  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
/* font-family: 'Roboto', sans-serif; */

:root{
    --h3-color:#fff;
    --h3-font-size:3rem;
    --sec1-back-color: #1A1F7C;;
    --h3-padding:30px 0;
}

* { margin:0; padding:0; border:0; outline:0; vertical-align:top;
-webkit-text-size-adjust:none;  }
html{font-size: 18px;}
body {font-family:'Roboto', sans-serif; color:#333;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
ul, ol, dl { list-style:none; }
img, video {border:0; vertical-align:top; }
a{color:#333;text-decoration:none; display: block; }

table { border-collapse:collapse; border-spacing:0; }
input, select { vertical-align:middle; }
label { cursor:pointer; }
.blind,legend,hr,caption { display:block; overflow:hidden; position:absolute; top:0; left:-1000em; }
i,em,address { font-style:normal; font-weight:normal; }
p,li,dd{ line-height:1.5em}
.hidden, #skipNav{display: block; position: absolute; left:-1000%; top:0; width: 1px; height: 1px;
    overflow: hidden; color: #fff;}
div, section{box-sizing: border-box;}

/* 헤더 공통 영역 */
#wrap{width:100%; overflow: hidden}
#headerArea{position:fixed; z-index: 100; height: 100px;
    left:0; top: 0;
    width: 100%;
    background: rgba(255,255,255,.4);
   transition: all .5s;
}	

#headerArea	.headerInner{width: 90%; margin: 0 5%;
     overflow: hidden; height: 100%;}

#headerArea a{color: #333; text-decoration: none}	
#headerArea .logo{width: 100px; height: 100px; float: left; }
#headerArea .logo a{width: 100px; height: 100px; text-indent: -999px; overflow: hidden; background: url(../images/header/Mask\ group.png) no-repeat; background-size: cover;  }

#headerArea .headerInner .menuOpen{font-size: 2em;
    color: #333;
    position: absolute;
    top: 15px;
    right: 20px;
    display: none;
    font-size:2em; color:#333;
    position:absolute; top:15px; right:20px; display:none
}
#headerArea #gnb{float: right;}
#headerArea #gnb ul{overflow: hidden; 
    display: flex;
    width: 100%;
    gap: 35px;
    margin-top: 30px;
}
#headerArea #gnb ul li{border-bottom: 3px solid transparent;
    text-align:center;transition: all .3s;}
#headerArea #gnb ul li:hover{border-bottom: 3px solid #1A1F7C;
    /* background: gainsboro; */
    /* border-radius: 3px; */
}
#headerArea #gnb ul li:hover a{color: #1A1F7C;
    /* padding: 5px;     */
}
#headerArea #gnb ul li a{text-decoration: none; padding: 10px 0;
    transition: all .3s;}
#headerArea #gnb ul .signlog{font-size: .7rem; display: flex; gap: 2px; 
    margin-right: unset;}
#headerArea #gnb ul .signlog a{display: block; padding: 6px 6px;
    text-align: center; border-radius: 7px; transition: .3s;
    }
#headerArea #gnb ul .signlog:hover{background: #000; border-radius: 7px;background: #1A1F7C;}
#headerArea #gnb ul .signlog:hover a{color: #fff;}


/* #gnb ul{overflow: hidden; float: right; margin-top: 20px;}  */
#gnb li{ float:left;}
#gnb .close{ display:none}

/* 푸터 공통 영역 */
#footerArea{text-align: center; font-size: 2em; width: 100%;
 background: white; margin: 0 auto; height: 120px; position: relative;}
#footerArea>div {width: 90%; font-size: .9rem; text-align: left; margin: auto; overflow: hidden;;}
#footerArea img{width: 100px; float: left;}
#footerArea div div{margin-top: 30px; float: left;}
#footerArea div ul{display: flex; float: right;}
#footerArea div ul li{width: 40px; margin-top: 30px;}
#footerArea div ul li i{font-size: 35px;}

@keyframes scrollAni1 {
    0% { transform: rotate(0deg); } /* 시작점: 0도 회전 */
    100% { transform: rotate(360deg); } /* 끝점: 360도 회전 */
}

#footerArea .topMove{
    position: fixed; right: 3%; bottom: 60px; z-index: 100; width: 60px; height: 60px;
    bottom:100px; background: #fff; border-radius: 50%; cursor: pointer;}
#footerArea .topMove>div{width: 100%; height: 100%;
    animation: scrollAni1 10s infinite linear; transform-origin: center; margin-top: unset;
}
#footerArea .topMove>div>img{box-sizing: border-box; width: 60px; height: 60px;}


/* 일반 pc */
@media screen and (max-width:1280px) {
	
}

/* 테블릿 */
@media screen and (max-width:1024px) {
	.menuOpen{display: none;}
    #footerArea .topMove{display: none;}

}

/* 소형 테블릿 */
@media screen and (max-width:768px) {
    #headerArea{height: 80px;}
	#headerArea .headerInner .box{width: 100%; height: 100vh;
        background: rgba(0, 0, 0, .7); display: none; position:fixed; left: 0; top: 0;}
    #headerArea .headerInner .menuOpen{display:block; font-size: 2rem; top:20px}
    
    #headerArea .headerInner .logo{width:80px ;height: 80px;  position: relative; left: 50%; transform: translateX(-50%);}
    #headerArea #gnb{width: 80%; height: 100vh; position: absolute; right: -100%; top: 0;
        opacity: 0; background: #000;}
    #headerArea #gnb ul{display: flex; flex-direction: column; padding: 100px 50px;box-sizing: border-box;}
    #headerArea .logo a {width:80px ;height: 80px; }
    #headerArea #gnb ul li a{color: #fff;}
    #headerArea #gnb .close{
        display: block; position: absolute; right: 30px; top: 30px; color: #fff;
        font-size: 2em;
    }
    #headerArea #gnb ul li:hover{border-bottom: 3px solid #9da1f0;}
    #headerArea #gnb ul li:hover a{color: #9da1f0;}
    #footerArea{height: auto;}
    #footerArea div ul{width: auto; float: none; clear: both;
        justify-content: center;margin-bottom: 30px;}
}

/* 모바일 */
@media screen and (max-width:640px) {

	#footerArea img {width: 50px; height: 50px;}
    #footerArea div p{font-size: .7rem;}
    #footerArea div:nth-child(2) img{margin-top: 20px;}
}

/* 최소 사이즈 처리 */
@media screen and (max-width:480px) {
	#wrap { min-width:320px; }
    #content .sec5 .txtright{width: 35%;}
}


.down{display: block; font-size: 20px; position: absolute; 
    left:50%; margin-left: -90px; bottom: 20%;
   animation:ani 1s infinite  alternate;}
  .scroll-indicator {
     display: block;
     position: absolute;
     left: 50%;
     margin-top: -18px;
     /* margin-left: -45px; */
     top: 90%;
     width: 90px;
  }
.scroll-indicator.off {
    opacity: 0;
    transition: 1s all;
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
    -ms-animation-play-state: paused;
    animation-play-state: paused;
 }
 
 .scroll-indicator a {
    display: block;
    height: auto;
    width: 100%;
    text-align: center;
    color: #fff;
 }
 
 .scroll-indicator span {
    font-size: .8em;
    letter-spacing: .26em;
    text-align: center;
    display: block;
    opacity: 1;
    height: auto;
    width: 100%;
    position: absolute;
    bottom: -20px;
    padding-left: .26em;
    /* accounts for trailing space letter-space*/
 }
 
 .scrolldown-btn {
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 14px;
 }

 /* arrow*/

.scrolldown-btn::before {
  content: '\00a0';
  border-style: solid;
  border-width: 3px 2.5px 0 2.5px;
  border-color: #1a1f7c transparent transparent transparent;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -1.5px;
  transform: scale(5);
  
  animation: arrow 4s ease-in-out infinite;
  animation-delay: 1s;
}


/* circle*/

.scrolldown-btn::after {
  content: "\00a0";
  background: #fff;
  border-radius: 50%;
  border: 1px solid #fff;
  display: block;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 0;
  margin-left: -0px;
  margin-top: -0px;
  opacity: 0;
  width: 0px;
  height: 0px;
  animation: scrollit 4s ease-in-out infinite;
  animation-delay: 1s;
}


/*circle*/

a.scroll-down::before {
  content: "\00a0";
  background: transparent;
  border: .01px solid #fff;
  border-radius: 50%;
  display: block;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 0;
  margin-left: -0px;
  margin-top: -0px;
  width: 0px;
  height: 0px;
  opacity: 0;
  animation: scrollit3 11s ease-in-out infinite;
  animation-delay: 1s;
}

@keyframes arrow {
  0% {
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      opacity: 0;
  }
  1% {
      opacity: .3;
  }
  5% {
      -webkit-transform: scale(10);
      -moz-transform: scale(10);
      -ms-transform: scale(10);
      transform: scale(10);
  }
  20% {
      transform: scale(10);
  }
  22% {
      transform: scale(11);
  }
  24% {
      transform: scale(10);
      opacity: .8;
  }
  34% {
      -webkit-transform: scale(10);
      -moz-transform: scale(10);
      -ms-transform: scale(10);
      transform: scale(10);
      opacity: .8;
  }
  40% {
      opacity: .4;
  }
  42% {
      -webkit-transform: scale(5);
      -moz-transform: scale(5);
      -ms-transform: scale(5);
      transform: scale(5);
      opacity: .3;
  }
  47% {
      opacity: .1;
  }
  93% {
      -webkit-transform: scale(5);
      -moz-transform: scale(5);
      -ms-transform: scale(5);
      transform: scale(5);
  }
  100% {
      opacity: .6;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
  }
}
@keyframes scrollit {
  0% {
      opacity: 1;
      margin-left: -0px;
      margin-top: -0px;
  }
  10% {
      width: 70px;
      height: 70px;
      opacity: .05;
      margin-left: -35px;
      margin-top: -35px;
  }
  14% {
      opacity: 0;
  }
  16% {
      opacity: .05;
  }
  20% {
      width: 70px;
      height: 70px;
      opacity: .05;
      margin-left: -35px;
      margin-top: -35px;
  }
  31% {
      opacity: .4;
  }
  34% {
      width: 40px;
      height: 40px;
      opacity: 0;
      margin-left: -19.5px;
      margin-top: -19.5px;
  }
  40% {
      width: 0px;
      height: 0px;
      margin-left: -0px;
      margin-top: -0px;
  }
  49% {
      opacity: .0;
      margin-left: -0px;
      margin-top: -0px;
  }
  100% {
      opacity: .0;
  }
}

@keyframes scrollit3 {
  0% {
      opacity: 1;
      margin-left: -0px;
      margin-top: -0px;
  }
  15% {
      width: 90px;
      height: 90px;
      opacity: .05;
      margin-left: -45px;
      margin-top: -45px;
  }
  23% {
      opacity: 0;
  }
  29% {
      width: 90px;
      height: 90px;
      opacity: .05;
      margin-left: -45px;
      margin-top: -45px;
  }
  31% {
      opacity: .4;
  }
  33% {
      opacity: 0;
      width: 20px;
      height: 20px;
      margin-left: -10px;
      margin-top: -10px;
  }
  35% {
      width: 0px;
      height: 0px;
      opacity: 0;
      margin-left: -0px;
      margin-top: -0px;
  }
  47% {
      opacity: .0;
      margin-left: -0px;
      margin-top: -0px;
  }
  100% {
      opacity: .0;
  }
}
@keyframes ani {
  0% { transform:scale(1); opacity:1; color:#fff;}
  100% { transform:scale(1.2); opacity:0.8; color:#888;}
}	