@charset "utf-8";

.hidden{display: block; position: absolute;
    width: 1px; height: 1px; overflow: hidden;
        color: #FFF7F7; left: -1000px; top: 0;}

#content {width: 1400px; margin: 0 auto; border: 10px solid #FFF7F7; border-top: none; border-bottom: none;}

.logo_text{position: relative; margin-bottom: 50px;}
.logo_text img{position: absolute; width: 100px; left: 50%; transform: translate(-50%);  bottom: 5px; z-index: -1;}
.logo_text h3 {font-size: 42px; text-align: center; }

.content_area{width: 1200px; margin: 0 auto; position: relative; overflow: hidden; text-align: center;
    font-size: 1.1rem;}
    
.content_area img{margin-bottom: 85px;}

.section{margin-bottom: 40px;}
.section h4{font-size: 1.6rem; margin-bottom: 20px; color: #2e86de; text-align: center;}
.section .info-card{background: #fff; padding: 20px; border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);}

.section .info-card p, .info-card ul{margin: 0 0 10px; text-align: left; line-height: 2rem;}
.section .info-card ul{padding-left: 20px; list-style-type: disc;}
.section .steps{display: flex; gap: 20px; flex-wrap: wrap; justify-content: center;}
.step{flex: 1 1 calc(45% - 20px); background: #fff;padding: 30px 0;
    line-height: 2rem; border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); text-align: center;}
.step p{ }

.step h5{margin-bottom: 10px; font-size: 1.5rem; color: #2e86de;}

.side-tie{display: flex; margin: 100px 0 150px;gap: 10px;}
.side-tie .info-card{width: 400px; text-align: center; border: 1px solid skyblue;}
.side-tie .info-card h4, .side-tie .info-card p{top: 200px;}
