@charset "utf-8";

.hidden{display: block; position: absolute;
    width: 1px; height: 1px; overflow: hidden;
        color: #FFF7F7; left: -1000px; top: 0;}

#content {width: 1400px; margin: 0 auto; border: 10px solid #FFF7F7; border-top: none; border-bottom: none;}

.logo_text{position: relative; margin-bottom: 50px;}
.logo_text img{position: absolute; width: 100px; left: 50%; transform: translate(-50%);  bottom: 5px; z-index: -1;}
.logo_text h3 {font-size: 42px; text-align: center; }

.content_area{width: 1400px; margin: 0 auto; position: relative; overflow: hidden; line-height: 24px;}
.left_sub{position: absolute; left: 95px;}
.left_sub ul{display: flex; }
.tab-button{ padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ddd;
    background-color: #f1f1f1;
    margin-right: 5px;
    border-radius: 5px 5px 0 0;
    transition: background-color 0.3s;}
.tab-button:hover{background: #ddd;}
.tab-button.active {
    background-color: #2e86de;
    color: white;
    font-weight: bold;
  }




.content_area .process1{ background: url(../imgages/content2/1.png);
    overflow: hidden;
    text-indent: -1000%;
    width: 1001px;
    height: 638px;
    margin: 100px auto 150px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 14px;
    
}
.content_area .process2{background: url(../imgages/content2/2.png);
    overflow: hidden; text-indent: -1000%; width: 1200px; height: 1200px;
    margin: 100px auto 150px;}
.content_area .process2_text{text-indent: 0; font-size: 1.3rem;}

.content_area .process3{background: url(../imgages/content2/3.png);
    overflow: hidden; text-indent: -1000%; width: 1200px; height: 908px;
    margin: 100px auto 150px;}
.content_area .process3_text{text-indent: 0; font-size: 1.3rem;}


.content_area .process2, .content_area .process3{display: none;}

